<div class="container">
<h1>Editing Survey</h1>

<%= render 'form', survey: @survey %>
<br />
<%= link_to 'Show', @survey, class: "btn btn-primary" %> <%= link_to 'Back', survey_path, class: "btn btn-danger" %>
</div>