<div class="container">
<h1>Editing Survey</h1>

<%= render 'form', survey_template: @survey_template %>
<br />
<%= link_to 'Show', @survey_template, class: "btn btn-primary" %> <%= link_to 'Back', survey_template_path, class: "btn btn-danger" %>
</div>